# -*- coding: utf-8 -*-

[problem]
use_stdin = 1
use_stdout = 1
use_corr = 1
time_limit = 2
max_vm_size = 512M
long_name = "Британский учёный Василий"
internal_name = "dictionary"
test_pat = "%02d"
corr_pat = "%02d.a"
check_cmd = "check"
solution_cmd = "dictionary_mp_z_100"
extid = "polygon:17307"
revision = "40"
