# -*- coding: utf-8 -*-

[problem]
use_stdin = 1
use_stdout = 1
use_corr = 1
time_limit = 2
max_vm_size = 512M
long_name = "Урок физкультуры"
internal_name = "permutation"
test_pat = "%02d"
corr_pat = "%02d.a"
check_cmd = "check"
solution_cmd = "ve_nlogn"
extid = "polygon:17310"
revision = "25"
